.title {
  text-align: center;
  font-size: 32px;
  letter-spacing: 2px;
  padding-bottom: 15px;
  border-bottom: 2px solid gray;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.info {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  color: #9aa0a6;
  align-items: flex-start;
  gap: 8px;
}

.degree {
  font-size: 48px;
}

.weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 28px;

}
